name: Python Unit Tests

on: push

jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - run: python -m unittest discover -p "*_tests.py" -v

  test-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
    - run: python -m unittest discover -p "*_test.py" -v 